/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}
.center{
  text-align: center;
}



.bold {
  font-weight: bold;
}

.header h1{text-align: center}
